VITE_NETWORK="sepolia"

// Wallet connect project ID
VITE_WALLETCONNECT_PROJECT_ID=

// Pinata configuration
VITE_PINATA_SECRET_KEY=
VITE_PINATA_API_KEY=
VITE_PINATA_GATEWAY=
VITE_PINATA_JSON_URL=
VITE_PINATA_FILE_URL=