/* PAGE WRAPPER */
.sell-page {
  background-color: #1e1e1e;
  width: 100%;
  color: white;
}

/* LISTING PRICE BOX */
.listing-price {
  padding: 2rem 0;
  background-color: #1e1e1e;
  color: white;
  text-align: center;
}

.listing-price-box {
  background: #222232;
  padding: 1.5rem;
  border-radius: 12px;
  margin: 0 auto;
  max-width: 600px;
  box-shadow: 4px 4px 60px rgba(99, 69, 237, 0.15);
}